* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  }

body {
  position:relative;
}

header {
  margin: 15px auto;
  position: relative;
  text-align: center;
  width: 100%;
}

h1 {
  margin: 0 auto;
}

main {
  position: relative;
  width: 60%;
  height: 300px;
  padding: 50px;
  margin: 4% 20%;
  text-align: center;
  float:left;
}

footer {
  position:absolute;
  width: 100%;
  text-align: center;
  margin-top: 450px;
}

button {
  margin: 20px auto;
  background-color: #4CED69;
}

select {
margin-left: 19%;
}

.nav1 {
  position: absolute;
  left: 0px;
  height: 450px;
  width: 10%;
}

.nav2 {
  position: absolute;
  right: 0px;
  height: 450px;
  width: 10%;
}

.key {
  display:inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin: 0 auto;
}

.clickBox {
  position: absolute;
  height: 50px;
  width: 50px;
}

/*.highScore {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid black;
  width: 150px;
  height: 40px;
  margin-right: 50px;
}*/

.jumbotron {
  margin-top: 40px;
  width: 100%;
  padding: 40px 120px;
}

.form-control {
  width: 405px;
}

.playNowButton {
  margin-left: 33.5%;
}

.dropDown{
  position:absolute;
  right: 40px;
}

ul {
  position:absolute:
  right: 40px;
}

#startGame {
  width: 405px;
  height: 45px;
  font-size: 20px;
}

#playNow {
  width: 405px;
  height: 45px;
  font-size: 20px;
}
