* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  position: relative;
}

header {
  margin: 15px auto;
  position: relative;
  text-align: center;
  width: 100%;
}

h1 {
  margin: 0 auto;
}

main {
  position: relative;
  width: 60%;
  height: 300px;
  padding: 50px;
  margin: 4% 20%;
  text-align: center;
  float: left;
}

button {
  margin: 20px auto;
  background-color: #4CED69;
}

select {
  margin-left: 19%;
}

ul {
  position: absolute: right: 40px;
}

.nav1 {
  position: absolute;
  left: 0px;
  height: 450px;
  width: 10%;
}

.nav2 {
  position: absolute;
  right: 0px;
  height: 450px;
  width: 10%;
}

.key {
  margin: 0 auto;
  font-size: 40px;
}

.clickBox {
  position: absolute;
  height: 50px;
  width: 50px;
}

.jumbotron {
  margin-top: 40px;
  width: 100%;
  padding: 70px 120px;
  height: 400px;
}

.form-control {
  width: 405px;
}

.playNowButton {
  margin-left: 33.5%;
}

.dropdown {
  position: absolute;
  top: -15px;
  right: 20px;
}

.difficulty {
  height: 110px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #EEEEEE;
}

.difficultyDisplay {
  position: absolute;
  left: 20px;
}

.dropdown-menu {
  position: absolute;
  left: -70px;
}

.container {
  position: absolute;
  top: 250px;
  left: 300px;
  width: 680px;
  line-height: 20px;
}

.row {
  display: inline-block;
  width: 400px;
}

.carousel {
  margin-top: 40px;
  width: 100%;
  height: 400px;
}

.red {
  color: red;
  background-color: red;
}

.green {
  color: green;
  background-color: green;
}

.blue {
  color: blue;
  background-color: blue;
}

.yellow {
  color: yellow;
  background-color: yellow;
}

.orange {
  color: orange;
  background-color: orange;
}

.indigo {
  color: indigo;
  background-color: indigo;
}

.violet {
  color: violet;
  background-color: violet;
}

.htw {
  position: absolute;
  top: 40px;
  left: 44%;
}

.story {
  margin-top: 160px;
  text-align: center;
}

.arrows {
  margin-left: 180px;
  margin-top: -45px;
}

.modalContainer {
  margin-top: 20px;
  margin-left: 390px;
}

#startGame {
  width: 405px;
  height: 45px;
  font-size: 20px;
}

#playNow {
  width: 405px;
  height: 45px;
  font-size: 20px;
}

#homeFooter {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 64px;
  display: block;
}

#playFooter {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 638px;
  display: block;
}

#instructPlayNow {
  position: absolute;
  bottom: -95px;
}

#instructFooter {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 159px;
}

#howitsmadeFooter {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -311px;
}
