<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>speedie</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

  <header>
    <h1 class="timer">speedie</h1>
    <h4 class="htw">How Was It Made</h4>
  </header>

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Options
        <span class="caret"></span>
      </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="/">Home</a></li>
      <li><a href="/instructions.html">How To Play</a></li>
      <li><a href="/howwasitmade.html">How Was It Made</a></li>
      <li><a href="http://html5games.com/">More games</a></li>
    </ul>
  </div>

  <div class="story">
    <h4>
      <strong>speedie</strong> is a simple game to test your reaction time.<br><br>Sounds simple doesn't it? Not quite when you're the one creating it.<br><br>Click the buttons below to learn about the process of making this simple game.
    </h4>
  </div>

  <div class="modalContainer">
    <!-- Large modal -->
    <button type="button" class="btn btn-primary" class="mButtons" data-toggle="modal" data-target=".bs-example-modal-lg1">1. Sketches</button>

    <div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">1. Sketches</h4>
          </div>
          <div class="modal-body">
            <img src="images/sketch1.png">
            <img src="images/sketch2.png">
            <img src="images/sketch3.png">
            <img src="images/sketch4.png">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Large modal -->
    <button type="button" class="btn btn-primary" class="mButtons" data-toggle="modal" data-target=".bs-example-modal-lg2">2. Wireframing</button>

    <div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">2. Wireframing</h4>
          </div>
          <div class="modal-body">
            <img src="images/wireframe1.png">
            <br><br><br>
            <img src="images/wireframe2.png">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Large modal -->
    <button type="button" class="btn btn-primary" class="mButtons" data-toggle="modal" data-target=".bs-example-modal-lg3">3. Flowchart</button>

    <div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">3. Flowchart</h4>
          </div>
          <div class="modal-body">
            <img src="images/flowchart.png">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Large modal -->
    <button type="button" class="btn btn-primary" class="mButtons" data-toggle="modal" data-target=".bs-example-modal-lg4">4. Issues</button>

    <div class="modal fade bs-example-modal-lg4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">4. Issues</h4>
          </div>
          <div class="modal-body">
            <img src="images/code1.png">
            <img src="images/code2.png">
            <img src="images/code3.png">
            <img src="images/code4.png">
            <img src="images/code5.png">
            <img src="images/code6.png">
            <img src="images/code7.png">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Large modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg5">5. Credits</button>

    <div class="modal fade bs-example-modal-lg5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">5. Credits</h4>
          </div>
          <div class="modal-body">
            <img src="images/credits.png">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="howitsmadeFooter">
    Created by <strong>Chris Ke</strong> - <img src='images/gaLogo.png'> General Assembly Singapore - WDI 6
  </footer>

</body>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="javascript/script.js" type="text/javascript"></script>

</html>
